# Ignore raw data files and cached ClinVar downloads
data/
*.gz
*.txt
!requirements.txt

# Ignore Nextflow HTML reports and work directories
results/reports/
*.html
work/
.nextflow/
.nextflow.log*

# Python cache and environments
__pycache__/
*.py[cod]
.venv/
env/
venv/

# OS specific files
.DS_Store
Thumbs.db
